In [ ]:
from _plotly_utils.colors import colorscale_to_colors
from matplotlib.pyplot import xlabel
import mysql.connector
import pandas as pd
import os  
import numpy as np 
import seaborn as sns
from seaborn.palettes import color_palette; sns.set_theme()

from datetime import datetime
import datetime as dt
import plotly.express as px
import plotly.graph_objects as go

import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output

#Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345",
  database="cooee_db"
)

#1 Revenue by Nation (METHOD - SQL Driven)
query = "SELECT nation.n_name AS Nation, sum(orders.o_totalprice) as Revenue \
    FROM orders \
    LEFT JOIN customer ON orders.o_custkey=customer.c_custkey \
    LEFT JOIN nation ON customer.c_nationkey=nation.n_nationkey \
    GROUP BY customer.c_nationkey \
    ORDER BY sum(orders.o_totalprice) DESC \
    LIMIT 5"
df = pd.read_sql(query, mydb)
df['Revenue'] = pd.to_numeric(df['Revenue'])
print(df)
print(df['Revenue'])

#Bar Chart 1
Revenue_by_Nation = px.bar(df,y = 'Revenue', x = 'Nation', 
             color = 'Nation', barmode='stack',
             height=500, text='Revenue',
             color_discrete_sequence=[px.colors.qualitative.Plotly[3], 
             px.colors.qualitative.Plotly[0], px.colors.qualitative.T10[2], px.colors.qualitative.Plotly[2]],
             title="Revenue of Top 5 Nations",
             template="simple_white"
             )
Revenue_by_Nation.update_traces(texttemplate='%{text:.2s}', textposition='outside')
Revenue_by_Nation.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')

#2 Shipping Mode by Nation (METHOD - SQL Driven)
query2 = "SELECT l_shipmode AS Ship_Mode, COUNT(*) AS Mode_Count FROM lineitem \
    LEFT JOIN supplier ON lineitem.l_suppkey=supplier.s_suppkey \
    LEFT JOIN nation ON supplier.s_nationkey=nation.n_nationkey \
    WHERE nation.n_name IN ('CANADA','EGYPT','IRAN','BRAZIL','ALGERIA') \
    GROUP BY lineitem.l_shipmode \
    ORDER BY COUNT(*) DESC"
df2 = pd.read_sql(query2, mydb)
df2['Mode_Count'] = pd.to_numeric(df2['Mode_Count'])

#Bar Chart 2
Shipping_Mode_by_Nation = px.bar(df2, x="Mode_Count", y="Ship_Mode", orientation='h',
    title="Shipping Mode of Top 5 Nations", color="Ship_Mode", height=500, template="simple_white")

#3 Top Selling Months (METHOD - Python Driven)
orders = "SELECT orders.o_orderdate AS Order_Date, orders.o_totalprice as Revenue FROM orders"
dfraw = pd.read_sql(orders, mydb)
df3 = pd.read_sql(orders, mydb)

df3['Order_Date'] = pd.to_datetime(df3['Order_Date'], format='%m/%d/%Y')
print(df3['Order_Date'])
df3['Revenue'] = pd.to_numeric(df3['Revenue'])

#getdate = "SELECT o_orderdate AS OrderDate FROM orders "
#dff3 = pd.read_sql(getdate, mydb)
#dff3['OrderDate'] = pd.to_datetime(dff3['OrderDate'], format='%m/%d/%Y')
#print(df3['OrderDate'])

#df3['OrderDate1'] = df3['OrderDate'].astype(str)
#dff3['OrderDate1'] = pd.to_datetime(df3['OrderDate'], format='%m')
#print(df3['OrderDate1'])

#df3['Month No.'] = df3['Order_Date'].str[3:5]
#df3['Month'] = pd.to_datetime(df3['Month No.'], format='%m').dt.month_name().str.slice(stop=3)
#df3['Year'] = df3['Order_Date'].str[6:10]
#df3['Day'] = df3['Order_Date'].str[0:2]
#df3['Order_Date'] = df3['Day'] + "-" + df3['Month'] + "-" + df3['Year']
#df3['Order_Date'] = pd.to_datetime(df3['Order_Date'])
df3['Month No.'] = pd.DatetimeIndex(df3['Order_Date']).month
df3['Month'] = pd.to_datetime(df3['Month No.'], format='%m').dt.month_name().str.slice(stop=3)
df3['Year'] = pd.DatetimeIndex(df3['Order_Date']).year
df3['Day'] = pd.DatetimeIndex(df3['Order_Date']).day
print(df3['Day'])
#df3['Order_Date'] = df3['Day'] + "-" + df3['Month No.'] + "-" + df3['Year']
#print(df3['Order_Date'])
df3['Year Order'] = df3['Order_Date'].dt.isocalendar().year
df3['Month Order'] = df3['Order_Date'].dt.to_period('m')

#print(df3['Month'])
#print(df3['Year'] )
#print(df3['Year Order'])
#print(df3['Month No.'])
#print(df3['Month Order'])
#print(len(df3['Year']))
#print(len(df3['Month No.']))

df3a = (df3.loc[:100000,["Year Order","Month","Revenue"]])
df3a = df3a.sort_values(['Revenue'], ascending=False)

#df3 = (df3.loc[:100000,["Year","Month No.","Month","Revenue"]])  
df4 = df3.pivot_table(  
    values=['Revenue'], 
    index=['Month No.','Month'],columns='Year', 
    aggfunc=np.sum 
).reset_index()


#Seaborn
df_m = df3.groupby(["Month No.", "Year"]).sum().unstack(level=0)
#sns.heatmap(df_m, cmap="Spectral")
#plt.show()

#Plotly
df3c = df3.groupby(["Year Order", "Month No."]).sum().unstack(level=0)
#df3c = df3c.fillna(0)
print(df3c)
Top_Selling_Months = px.imshow(df3c,
    labels=dict(x="Year", y="Month"),
    x=['1992', '1993', '1994', '1995', '1996', '1997','1998','1992', '1993', '1994', '1995', '1996', '1997','1998','1992', '1993', '1994', '1995', '1996', '1997','1998'],
    y=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
    title="Top Selling Months",
    color_continuous_scale=px.colors.sequential.Cividis_r)
#fig.show(Top_Selling_Months)


#4B Top Customers by Revenue
customers = "SELECT customer.c_name AS Customer_Name, sum(orders.o_totalprice) as Revenue \
    FROM orders \
    LEFT JOIN customer ON orders.o_custkey=customer.c_custkey \
    GROUP BY customer.c_name \
    ORDER BY sum(orders.o_totalprice) DESC \
    LIMIT 10"
df6 = pd.read_sql(customers, mydb)
df6['Revenue'] = pd.to_numeric(df6['Revenue'])

Top_Customers_by_Revenue = px.pie(df6, values='Revenue', names='Customer_Name', labels='Customer_Name',
    title='Top Customers by Revenue', hole=.3, color_discrete_sequence=px.colors.sequential.RdBu)
#Top_Customers_by_Revenue.show()


#4B Top Customers by Quantity
customersq = "SELECT customer.c_name AS Customer_Name, sum(lineitem.l_quantity) as Quantity \
    FROM lineitem \
    LEFT JOIN orders ON lineitem.l_orderkey=orders.o_orderkey \
    LEFT JOIN customer ON orders.o_custkey=customer.c_custkey \
    GROUP BY customer.c_name \
    ORDER BY sum(orders.o_totalprice) DESC \
    LIMIT 10"
df7 = pd.read_sql(customersq, mydb)
df7['Quantity'] = pd.to_numeric(df7['Quantity'])
Top_Customers_by_Quantity = px.pie(df7, values='Quantity', names='Customer_Name', 
    title='Top Customers by Quantity', hole=.3, color_discrete_sequence=px.colors.sequential.RdBu)
#Top_Customers_by_Quantity.show()


#4C Top Customers by Revenue and Quantity
#Orders data contains only 1 Order Key which inidicates total price. Line Item has multiple Order Keys. 


#5 Year on Year Change
orders1 = "SELECT orders.o_orderdate AS Order_Date, orders.o_totalprice as Revenue FROM orders"
df20 = pd.read_sql(orders1, mydb)
df20['Revenue'] = pd.to_numeric(df20['Revenue'])

df20['Order_Date'] = pd.to_datetime(df20['Order_Date'], format='%m/%d/%Y')

df20['Month No.'] = pd.DatetimeIndex(df20['Order_Date']).month
df20['Month'] = pd.to_datetime(df20['Month No.'], format='%m').dt.month_name().str.slice(stop=3)
df20['Year'] = pd.DatetimeIndex(df20['Order_Date']).year
df20['Day'] = pd.DatetimeIndex(df20['Order_Date']).day

#df20['Order_Date'] = df20['Day'] + "-" + df20['Month No.'] + "-" + df20['Year']
#df20['Order_Date'] = pd.to_datetime(df20['Order_Date'])
df20['Year Order'] = df20['Order_Date'].dt.isocalendar().year
df20['Month Order'] = df20['Order_Date'].dt.to_period('m')

df21 = (df20.loc[:100000,["Month Order","Revenue"]])
df21['Month Order'] = df21['Month Order'].astype(str)
df21 = df21.groupby(by="Month Order").sum().reset_index()

df21['OTM'] = df21['Revenue'].pct_change()
df21['OYM'] = df21['Revenue'].pct_change(12)
#df22 = (df21.iloc[:100000,[1,4]])
#print(df22)
Period_Change = px.line(df21, x="Month Order", y="OYM", title='Sales Revenue Period Change')
#Period_Change.show()


#Generate Output 
dir_name=(r'C:\Users\Selrahc\Documents')  
outputfile = ('Revenue by Month1.xlsx')  
outfileloc = os.path.join(dir_name, outputfile)  
writer = pd.ExcelWriter(outfileloc)
dfraw.to_excel(writer, sheet_name = 'Raw')
df3a.to_excel(writer, sheet_name = 'Top Selling Months')    
df4.to_excel(writer, sheet_name = 'Pivot') 
df_m.to_excel(writer, sheet_name = 'Pivot II')
df21.to_excel(writer, sheet_name = 'OTM OYM')  
writer.save()


# REPORTING
# app = JupyterDash(__name__)
app = dash.Dash()
figs = ['Revenue_by_Nation','Shipping_Mode_by_Nation',
    'Top_Selling_Months','Top_Customers_by_Revenue','Top_Customers_by_Quantity','Period_Change']
app.layout = html.Div([
    html.Div([
        html.Div([
        html.H1("ETL Data Analysis"),
        dcc.Dropdown(
                id='variables',
                options=[{'label': i, 'value': i} for i in figs],
                value=figs[0]
            ),
        dcc.Graph(id='plot')

        ])
    ])
])
@app.callback(
    Output('plot', 'figure'),
    [Input('variables', 'value')])
def update_graph(fig_name):
    if fig_name == 'Revenue_by_Nation':
        return Revenue_by_Nation
    if fig_name == 'Shipping_Mode_by_Nation':
        return Shipping_Mode_by_Nation
    if fig_name == 'Top_Selling_Months':
        return Top_Selling_Months
    if fig_name == 'Top_Customers_by_Revenue':
        return Top_Customers_by_Revenue
    if fig_name == 'Top_Customers_by_Quantity':
        return Top_Customers_by_Quantity
    if fig_name == 'Period_Change':
        return Period_Change

# app.run_server(mode='external', debug=True)
app.run_server(debug=True,
           use_reloader=False # Turn off reloader if inside Jupyter
          )

    Nation      Revenue
0   CANADA  109618040.0
1    EGYPT  106410120.0
2     IRAN  104237950.0
3   BRAZIL   98202859.0
4  ALGERIA   97421281.0
0    109618040.0
1    106410120.0
2    104237950.0
3     98202859.0
4     97421281.0
Name: Revenue, dtype: float64
0       1996-01-02
1       1996-12-01
2       1993-10-14
3       1995-10-11
4       1994-07-30
           ...
14995   1994-11-01
14996   1995-11-16
14997   1995-12-05
14998   1993-12-22
14999   1995-04-21
Name: Order_Date, Length: 15000, dtype: datetime64[ns]
0         2
1         1
2        14
3        11
4        30
         ..
14995     1
14996    16
14997     5
14998    22
14999    21
Name: Day, Length: 15000, dtype: int64
0        Jan
1        Dec
2        Oct
3        Oct
4        Jul
        ...
14995    Nov
14996    Nov
14997    Dec
14998    Dec
14999    Apr
Name: Month, Length: 15000, dtype: object
0        1996
1        1996
2        1993
3        1995
4        1994
         ...
14995    1994
14996    1995
14997    1995
14998    1993
14999    1995
Name: Year, Length: 15000, dtype: int64
0        1996
1        1996
2        1993
3        1995
4        1994
         ...
14995    1994
14996    1995
14997    1995
14998    1993
14999    1995
Name: Year Order, Length: 15000, dtype: UInt32
0         1
1        12
2        10
3        10
4         7
         ..
14995    11
14996    11
14997    12
14998    12
14999     4
Name: Month No., Length: 15000, dtype: int64
0        1996-01
1        1996-12
2        1993-10
3        1995-10
4        1994-07
          ...
14995    1994-11
14996    1995-11
14997    1995-12
14998    1993-12
14999    1995-04
Name: Month Order, Length: 15000, dtype: period[M]
15000
15000
               Revenue                                                  \
Year Order        1992        1993        1994        1995        1996
Month No.
1           33408998.0  24293461.0  28893792.0  23388185.0  25377756.0
2           24678579.0  25877133.0  26249172.0  24978869.0  25688122.0
3           29416287.0  24512092.0  27929622.0  24248461.0  28137281.0
4           27781193.0  26325717.0  26199296.0  24603345.0  26403299.0
5           27495616.0  28518818.0  29687666.0  28961458.0  23258620.0
6           24940033.0  25359448.0  26059848.0  24824152.0  28474619.0
7           26388466.0  26134214.0  25948343.0  27087991.0  26586810.0
8           29044727.0  26786120.0  28925359.0  25277932.0  30170822.0
9           27422985.0  29899505.0  29431946.0  25395898.0  28080179.0
10          26604120.0  30697389.0  26180240.0  28252082.0  24399256.0
11          22281008.0  28564149.0  23757844.0  28525536.0  28396188.0
12          24481560.0  30844716.0  28708687.0  30079346.0  27492620.0

                                        Year                      ...  \
Year Order        1997        1998      1992      1993      1994  ...
Month No.                                                         ...
1           28266696.0  24482934.0  444236.0  346791.0  396810.0  ...
2           27264863.0  25547315.0  368520.0  356747.0  346956.0  ...
3           28028477.0  28839999.0  402384.0  348775.0  400794.0  ...
4           27257294.0  25873192.0  412344.0  366712.0  392818.0  ...
5           27226371.0  29274492.0  402384.0  416537.0  418740.0  ...
6           26033181.0  24379022.0  338640.0  362726.0  370884.0  ...
7           26059025.0  27359772.0  346608.0  374684.0  378860.0  ...
8           26475572.0   1575782.0  392424.0  386642.0  400794.0  ...
9           25134915.0         NaN  352584.0  398600.0  394812.0  ...
10          24996886.0         NaN  422304.0  400593.0  342968.0  ...
11          27832494.0         NaN  318720.0  386642.0  350944.0  ...
12          25295469.0   2376179.0  332664.0  430488.0  386836.0  ...

                                             Day                          \
Year Order      1996      1997      1998    1992    1993    1994    1995
Month No.
1           361276.0  385421.0  361638.0  3080.0  2893.0  3198.0  2570.0
2           355288.0  395406.0  365634.0  2734.0  2687.0  2399.0  2363.0
3           411176.0  395406.0  399600.0  3341.0  2633.0  3373.0  2890.0
4           379240.0  369445.0  393606.0  3479.0  2852.0  2930.0  2738.0
5           363272.0  381427.0  397602.0  3153.0  3526.0  3281.0  2923.0
6           391216.0  375436.0  351648.0  2663.0  2867.0  2975.0  2474.0
7           373252.0  385421.0  395604.0  2924.0  3271.0  2873.0  3070.0
8           419160.0  401397.0   23976.0  3014.0  3240.0  2996.0  2990.0
9           411176.0  369445.0       NaN  2701.0  3309.0  3198.0  2662.0
10          373252.0  365451.0       NaN  3585.0  3114.0  2661.0  3047.0
11          381236.0  385421.0       NaN  2359.0  3148.0  2622.0  2971.0
12          345308.0  343474.0   33949.0  2734.0  3431.0  3035.0  3396.0


Year Order    1996    1997    1998
Month No.
1           2739.0  3054.0  2933.0
2           2811.0  2844.0  2669.0
3           3381.0  3357.0  3165.0
4           2868.0  2782.0  2889.0
5           2701.0  3075.0  3303.0
6           3120.0  2760.0  2846.0
7           2940.0  3132.0  3390.0
8           3438.0  3290.0    19.0
9           2985.0  2808.0     NaN
10          2910.0  2738.0     NaN
11          2830.0  2892.0     NaN
12          2633.0  2519.0   508.0

[12 rows x 21 columns]
Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on